@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,600;0,700;1,700&family=Poppins:wght@500&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f2f2;;
}
/* main{
    display: flex;
    justify-content: center;
    flex-direction: column; */

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0, 120px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 18px;
    margin-right: 120px;
    font-size: 15px;
}
.nav-title{
    font-weight: 700;
    font-size: 24px;
    margin-left: 120px;
}
/* banner styles start */
.banner{
    display: flex;
    align-items: center;
    margin: 0px, 165px;
}
.banner-sub{
    margin-left: 165px;
    word-wrap: break-word;
}
.banner-title{
    font-size: 52px;
}
.banner-img img{
    margin-right: 165px;
    background-image: url(../images/Circle\ design.svg);
}
.button-1{
    background-color: magenta;
    border-radius: 7px;
    padding: 8px;
}
/* logos styles */
.logos{
    margin-top: 100px;
}
.logos img{
    margin-left: 50px;
 }
.logo{
    margin-left: 185px;
}
.container-header{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}
.article{
    display: grid;
    grid-template-columns: repeat(3 1fr);
}
.collection{
    background-color:#ffffff;
    border-radius: 5px;
    width: 329px;
    height: 476px;
    padding: 30px;
    margin-left: 165px;
}
.collection-items{
    position: absolute;
}
.collection-title{
    font-size: 25px;
    margin: 30px, 0px;
}
.middle {
    display: flex;
    align-items: center;
    gap: 30px;
}
.price{
    font-size: 24px;
    margin: 3px;
}
.last-text{
    margin: 2px;
}
